@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Source+Serif+Pro|Tangerine');

.selector-for-some-widget {
  box-sizing: content-box;
}
.display-4{
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    color:darkgoldenrod;
}
.card-title{
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    color:darkgoldenrod
}
.card-text{
    font-size: 40px;
/*    text-decoration: underline;*/
    font-family: 'Source Serif Pro', serif;
}
.center-text{
    margin: 20px;
    padding:20px;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}
.btn btn-primary{
    -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;s
}
.btn.btn-primary:hover{
    background-color: darkslategrey; 
  color: white;
}
.banner {
    position: absolute;
    z-index: 9999;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: none;
}

.banner.active {
    display: block;
}

.banner-bottom {
    left: 0;
    right: 0;
    bottom: 10px;
}

.banner-top {
    left: 0;
    right: 0;
    top: 10px;
}

.banner-right {
    right: 10px;
    bottom: 10%;
    min-height: 10vh;
}

.banner-left {
    left: 10px;
    bottom: 10%;
    min-height: 10vh;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.banner-close {
    position: absolute;
    right: 1.5%;
}

.banner-close:after {
    position: absolute;
    right: 0;
    top: 50%;
    content: 'X';
    color: #69f;
}